<app-menu></app-menu>
<br>
<h2 style="text-indent: 20pt;">Requestline Details</h2>
<div id="component">
    <div id="component-header">
        <button (click)="create()" class="btn btn-link">Create</button> | 
        <a routerLink="/request/list">Return</a>
    </div>
    <div id="component-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="request">
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total * 100}} Gold</td>
                <td *ngIf="request.user">{{request.user.username}}</td>
                <td>
                    <span *ngIf="request.status != 'REVIEW'">
                        <button (click)="review()" class="btn btn-link">Review</button>
                    </span>
                </td>
            </tr>
        </tbody>
        </table>
        <h4 style="text-indent: 20pt;">Requestlines</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Line Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rl of requestLines">
                <td>{{rl.id}}</td>
                <td *ngIf="rl.product">{{rl.product.name}}</td>
                <td>{{rl.quantity}}</td>
                <td *ngIf="rl.product">{{rl.product.price}}00 Gold</td>
                <td>{{rl.lineTotal}}00 Gold</td>
                <td>
                    <span>
                        <a routerLink="/requestline/{{request.id}}/edit/{{rl.id}}">Edit</a> |
                    </span>
                    <span>
                        <button (click)="delete(rl.id)" class="btn btn-link">Delete</button>
                    </span>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>