/* You can add global styles to this file, and also import other style files */
#component {
    margin: 10px;
}
#detail {
    width: 30%;
    padding-left: 15pt;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
thead {
    text-align: center;
}
td {
    text-align: center;
}
table {
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#wide {
    width: 70%;
}
.btn-link {
    padding: 0px 0px 5px 0px;
}